Screen {
    /* Note the hard-coded size for the grid. There's also a value in the */
    /* code too. This is something I feel Textual needs: a way to inject */
    /* values into the CSS. */
    layout: grid;
    grid-size: 40 40;
    grid-gutter: 0 0;
}

MandelPoint {
    width: 100%;
    height: 100%;
    text-align: center;
}

MandelPoint.unstable {
    color: #505050;
    background: #022;
}

MandelPoint.unstable.no-text {
    color: #00000000;
}

MandelPoint.stable {
    /* color: #707070; */
    background: #00F;
}

MandelPoint.stable.no-text {
    color: #00000000;
}

MandelPoint.escape-2 { background: #200; }
MandelPoint.escape-3 { background: #300; }
MandelPoint.escape-4 { background: #400; }
MandelPoint.escape-5 { background: #500; }
MandelPoint.escape-6 { background: #600; }
MandelPoint.escape-7 { background: #700; }
MandelPoint.escape-8 { background: #800; }
MandelPoint.escape-9 { background: #900; }
MandelPoint.escape-10 { background: #A00; }
MandelPoint.escape-11 { background: #B00; }
MandelPoint.escape-12 { background: #C00; }
MandelPoint.escape-13 { background: #D00; }
MandelPoint.escape-14 { background: #E00; }
MandelPoint.escape-15 { background: #F00; }

/* mandelplot.css ends here */
