Screen {
    layout: grid;
    grid-size: 40 40;
    grid-gutter: 0 0;
}

MandelPoint {
    width: 100%;
    height: 100%;
    text-align: center;
}

MandelPoint.unstable {
    color: #505050;
    background: #303030;
}

MandelPoint.stable {
    color: #707070;
    background: #909090;
}

/* mandelplot.css ends here */
